body{
  margin: 0;
  font-size:1em;
  background: #800000;
}

h1,p {
  margin: 0;
}
.top-icons{
  position: fixed;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.container{
  height: 300vh; /*viewport height*/
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-image{

}

.title{
  padding-top: 20%;
  color: white;
}
.image_first{
  padding-top: 5%;
  padding-bottom: 5%;
}
.item-passageA{
  padding-bottom: 15%;
  color: rgba(255, 255, 255, 85%);
}

.item-copyright{
  font-size:0.7em;
  padding-bottom: 2%;
  justify-content: space-between; /*여백 나눠가지기*/
  color: #000000;
}
